<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Lil Snitch</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">CPU Monitor</h1>

    <div *ngIf="tempCPU0 > threshold || tempCPU1 > threshold" class="alert alert-danger" role="alert">
      High CPU temperature detected!
    </div>

    <div class="container">
      <div class="row align-items-center py-3">
        <div class="col-5 label">
          <span class="cpu-temp-label">CPU 1</span>
        </div>
        <div class="col-7">
          <seven-seg class="cpu-temp" digits="3" decimalPlaces="1" [value]="tempCPU0"></seven-seg>
          <span class="degrees-celsius">℃</span>
        </div>
      </div>
      <div class="row align-items-center py-3">
        <div class="col-5 label">
          <span class="cpu-temp-label">CPU 2</span>
        </div>
        <div class="col-7">
          <seven-seg class="cpu-temp" digits="3" decimalPlaces="1" [value]="tempCPU1"></seven-seg>
          <span class="degrees-celsius">℃</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="threshold">Threshold</label>
      <input type="number" [(ngModel)]="threshold" class="form-control mx-auto" id="threshold">
    </div>

    <p class="lead">This demo app is showcasing a C++ program reading CPU temperatures, sending them to a Java Spring
      Boot app over plain TCP, which itself sends the temperatures to this very Angular app via websocket connection.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary" (click)="start()">Start</a>
      <a href="#" class="btn btn-lg btn-secondary" (click)="stop()">Stop</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Created with passion by <a href="https://github.com/tooreht/">tooreht</a>.</p>
    </div>
  </footer>

  <router-outlet></router-outlet>